.sidebar {
    user-select: none;
    width: 266px;
    height: 100vh;
    padding-top: 74px;
    border-right: 1px solid #f1f1f1;
    background-color: #fafafa;
}

.sidebar > div {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;

}

.active {
    background-color: white;
}

.icons {
    margin-right: 10px;
}